h3 {
    color: white;
    background-color: rgb(157, 194, 132);
    margin: 50px 300px 20px 670px;
    width: 250px;
    height: 30px;
    padding: 15px 80px 10px 80px;
    text-align: center;
    position: relative;
  }
  
  #input-box {
    min-width: 295px;
    height: 40px;
    border-width: 3px;
    border-color: rgb(157, 194, 132);
    border-style: solid;
  }
  
  #add-btn {
    min-width: 100px;
    height: 48px;
    text-align: center;
    font-size: 15px;
    color: rgb(157, 194, 132);
    border-width: 3px;
    border-color: rgb(157, 194, 132);
    border-style: solid;
    background-color: white;
  }
  
  input {
    display: inline-block;
    margin-left: 670px;
    margin-right: 5px;
  }
  
  table {
    text-align: center;
    margin-left: 670px;
    padding: 20px 0 0 0;
  }

  .btn {
    color: white;
    background-color: red;
    border-color: red;
    border-style: solid;
    margin-top: 20px;
    margin-right: 10px;
  }

  tr {
    text-align: left;
  } 

  
  
  
  